{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>

    <!-- Load jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div>
      <input type="text" class="fname" placeholder="First Name" />
      <input type="text" class="lname" placeholder="Last Name" />
      <input type="email" class="email" placeholder="Email" />
      <input type="password" class="password" placeholder="Password" />
      <button id="signup_submit">Sign Up</button>
    </div>

    <!-- Load your JS after jQuery -->
    <script src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
